# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\hodei\Documents\JAVAPROGRAMS\NACKADEMIN\OBJEKTORIENTERING_OCH_JAVA\myChat\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
